.show-img{
    position:relative;
  }
  .show-img:hover:after {
    content: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.contractorgloba.com%2FPL%2FSkulsk%2F615098221850500%2FCentrobud&psig=AOvVaw2FCRnH7P3Ty6iHYWqcVHub&ust=1635260682303000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJiY0vLq5fMCFQAAAAAdAAAAABAD);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  body {background-color: pink;}

  .show-img2{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }

  .show-img3{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img4{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img5{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img6{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img7{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img8{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img9{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img10{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img11{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img12{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img13{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img14{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img15{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img16{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img17{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img18{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img19{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img20{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  .show-img21{
    position:relative;
  }
  .show-img:hover:after {
    content: url(C:/Users/Rafix/Desktop/ok/grafika/c2dc05ea4c6b91ff0a1241121ead.jpg);
      display: block;
      position:absolute;
      left:0;
      z-index: 1000;
  }
  